<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="loginUI.properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <loginUI.properties.Settings1>
            <setting name="appname" serializeAs="String">
                <value>Diary</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value>rubhy</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>rubhy@gmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
        </loginUI.properties.Settings1>
    </userSettings>
</configuration>